/* ============================================
   =                 FONTS                    =
   ============================================ */
@font-face {
  font-family: "SF Pro Display";
  src: url("/Fonts/SF-Pro-Display-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/Fonts/SF-Pro-Display-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/Fonts/SF-Pro-Display-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Mono";
  src: url("/Fonts/SFMono-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Mono";
  src: url("/Fonts/SFMono-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Mono";
  src: url("/Fonts/SFMono-Bold.otf");
  font-weight: 700;
}

/* ============================================
     =              GLOBAL RESET                =
     ============================================ */
* {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display";
  -webkit-tap-highlight-color: transparent;
}

/* ============================================
     =                LAYOUT                     =
     ============================================ */
body {
  background-color: #eeeeee;
  background-image: url("./Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 128px;
  padding-top: env(safe-area-inset-top);
  /* iOS notch space */
}

svg {
  width: 32px;
  height: 32px;
  color: #000;
}

/* ============================================
     =             PAGE ELEMENTS                =
     ============================================ */

.text,
#select-type,
#install-btn {
  margin: 16px;
  padding: 32px;
  border-radius: 48px;
}

#select-type {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#select-type-name {
  font-size: 24px;
  font-weight: bold;
}

#select-type-buttons {
  display: flex;
  gap: 32px;
}

#select-type-buttons button {
  flex: 1 1 0;
  border: none;
  background-color: #0080ff;
  color: #ffffff;
  padding: 16px;
  border-radius: 16px;
  font-size: 16px;
}