@font-face {
    font-family: "SF Pro Display";
    src: url("/Fonts/SF-Pro-Display-Regular.otf");
    font-weight: 400;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("/Fonts/SF-Pro-Display-Medium.otf");
    font-weight: 500;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("/Fonts/SF-Pro-Display-Bold.otf");
    font-weight: 700;
}

@font-face {
    font-family: "SF Pro Mono";
    src: url("/Fonts/SFMono-Regular.otf");
    font-weight: 400;
}

@font-face {
    font-family: "SF Pro Mono";
    src: url("/Fonts/SFMono-Medium.otf");
    font-weight: 500;
}

@font-face {
    font-family: "SF Pro Mono";
    src: url("/Fonts/SFMono-Bold.otf");
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Display";
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: #F2F2F2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 128px;
    padding-top: env(safe-area-inset-top);
}

.glassy {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(2px);
    border-radius: 32px;
    transition: background-color 0.5s ease-in-out;
}

.glassy:active {
    background-color: rgba(255, 255, 255, 0.75);
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: #000000;
    }

    p {
        color: #ffffff;
    }

    .glassy {
        background-color: rgba(64, 64, 64, 0.5);
    }

    .glassy:active {
        background-color: rgba(64, 64, 64, 0.75);
    }
}

img {
    width: calc(100vw - 32px);
    border-radius: 48px;
    margin: 16px 16px 0px 16px;
}

@media (min-width: 700px) {
    body {
        margin-bottom: 16px;
    }
}

.removed {
    display: none !important;
}

.transparent {
    opacity: 0 !important;
}